@use "mixins";
@use "variables";

@include mixins.selector(html) {
  color: variables.$text !important;
  font-size: 16px !important;
  line-height: 1.9 !important;
}

@include mixins.selector(body) {
  max-width: 800px !important;
  margin: 0 auto !important;
  padding: 1rem !important;
}

@include mixins.selector(a) {
  color: variables.$primary !important;
  font-weight: bold !important;
}

@include mixins.selector(
  b,
  strong
) {
  font-weight: bold !important;
}

@include mixins.selector(
  i,
  em
) {
  font-style: italic !important;
}

@include mixins.selector(
  button,
  "input[type=submit]"
) {
  align-self: flex-start !important;
  margin-right: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding: 0.125rem 0.75rem !important;
  border: 2px solid variables.$grey-light !important;
  border-radius: 0.5rem !important;

  &:hover {
    background: variables.$background-light !important;
  }
}

@include mixins.selector(
  ul,
  ol
) {
  width: 100% !important;
  margin-bottom: 1rem !important;

  li {
    position: relative !important;
    width: 100% !important;
    padding-left: 1.5rem !important;

    &::before {
      content: "" !important;
      position: absolute !important;
      left: 0 !important;
      display: inline-block !important;
      color: variables.$text !important;
    }
  }
}

@include mixins.selector(ul) {
  li::before {
    content: "●" !important; // •●⚫"\25CF" !important;
  }
}

@include mixins.selector(ol) {
  li::before {
    content: "1." !important;
  }
}

@include mixins.selector("[aria-hidden=true]") {
  display: none !important;
}

$structural-elements: (
  nav,
  header,
  main,
  footer,
  aside,
  form,
  article,
  section
);

@each $element in $structural-elements {
  @include mixins.selector($element) {
    position: relative !important;
    margin-bottom: 1rem !important;
    padding: 2rem 1rem 1rem !important;
    border: 2px solid variables.$grey-light !important;

    &::after {
      content: "#{$element}" !important;
      position: absolute !important;
      top: 0.25rem !important;
      left: 1rem !important;
      display: inline-block !important;
      color: variables.$text-light !important;
    }
  }
}

@include mixins.selector("[role]") {
  position: relative !important;
  min-width: 10rem !important;
  margin-bottom: 1rem !important;

  &:not(iframe) {
    padding: 2rem 1rem 1rem !important;
  }

  &:not(table) {
    border: 2px solid variables.$grey-light !important;
  }

  &::after {
    content: "role=" attr(role) !important;
    position: absolute !important;
    top: 0.25rem !important;
    left: 1rem !important;
    display: inline-block !important;
    color: variables.$text-light !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
  }
}

@for $index from 1 through 6 {
  @include mixins.selector(h#{$index}) {
    font-weight: bold !important;
    font-size: #{1 + (6 - $index) * 0.2}rem !important;
    line-height: #{1.9 - (6 - $index) * 0.15} !important;

    &::before {
      content: "h#{$index}" !important;
      display: inline-block !important;
      margin-right: 0.25em !important;
      color: variables.$text-light !important;
    }
  }
}

@include mixins.selector(label) {
  width: 100% !important;
}

@include mixins.selector(
  "input[type=text]",
  "input[type=email]",
  "input[type=password]",
  "input[type=search]",
  "textarea"
) {
  width: 100% !important;
  margin-bottom: 0.5rem !important;
  padding: 0.125rem 0.75rem !important;
  border: 2px solid variables.$grey-light !important;
  border-radius: 0.5rem !important;
}

@include mixins.selector(select) {
  width: 100% !important;
  margin-bottom: 0.5rem !important;
  padding: 0.25rem 0.5rem !important;
  border: 2px solid variables.$grey-light !important;
  border-radius: 0.5rem !important;
}

@include mixins.selector(textarea) {
  width: 100% !important;
  height: 8rem !important;
}

@include mixins.selector(table) {
  border-collapse: collapse !important;
}

@include mixins.selector(
  th,
  td
) {
  padding: 1rem !important;
  border: 2px solid variables.$grey-light !important;

  table[role] tr:first-child &,
  table[role] th:first-child & {
    padding-top: 1.5rem !important;
  }
}

@include mixins.selector(th) {
  background: variables.$background-light !important;
}

@include mixins.selector(code) {
  font-family: monospace !important;
}

@include mixins.selector(pre) {
  padding: 1rem !important;
  background: variables.$background-light !important;
  font-family: monospace !important;
}

@include mixins.selector(blockquote) {
  padding-left: 1rem !important;
  border-left: 3px solid variables.$grey-light !important;
}

@include mixins.selector(address) {
  font-style: italic !important;
}

@include mixins.selector(iframe) {
  padding: 1rem !important;
  border: 1px solid variables.$grey-light !important;
  box-shadow: inset 0 0 1rem 0 rgba(#000, 0.1) !important;
}

@include mixins.selector(dt) {
  font-weight: bold !important;
}

@include mixins.selector(dd) {
  padding-left: 2rem !important;
}

@include mixins.selector(
  img,
  svg
) {
  align-self: flex-start !important;
  border: 1px solid variables.$grey-light !important;
}

@include mixins.selector(p) {
  margin-bottom: 1rem !important;
}

@include mixins.selector(hr) {
  height: 2px !important;
  margin-bottom: 1rem !important;
  background: variables.$grey-light !important;
}
