/*@include selector('[title]') {
  position: relative !important;

  &:before {
    content: "title" !important;
    display: inline-block !important;
    color: #fff !important;
    background: red !important;
    padding: .25rem .5rem !important;
    margin-right: .25rem !important;
  }
}*/

/*@include selector('img:not([alt])', 'img[alt]:not([alt=""])') {
  border: 4px dashed red !important;
}*/
