@use "variables";

@mixin selector($selectors...) {
  @each $selector in $selectors {
    html #{$selector}:not(##{variables.$unique-id}),
    #{$selector}:not(##{variables.$unique-id}) {
      @content;
    }
  }
}
